# Custom SSH Configuration
Port 22
ClientAliveInterval 30
PermitRootLogin yes
PasswordAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords yes
AllowAgentForwarding yes
AllowTcpForwarding yes
PermitTunnel yes


AllowUsers umer

AuthorizedKeysFile /home/umer/.ssh/authorized_keys