# SSH server configuration

# Disable password authentication
PasswordAuthentication no
PermitRootLogin yes

# Enable public key authentication
PubkeyAuthentication yes

# Allow agent forwarding
AllowAgentForwarding yes

# Use the custom script for connection forwarding
ForceCommand /usr/local/bin/forward_to_pod

# Logging
LogLevel INFO