# Custom SSH Configuration
Port 22
ClientAliveInterval 30
PermitRootLogin yes
PasswordAuthentication yes
PermitEmptyPasswords yes
AllowAgentForwarding yes

AuthorizedKeysFile /root/.ssh/authorized_keys

ForceCommand /usr/local/bin/forward_to_pod umer
