# Custom SSH Configuration
Port 22
ServerAliveInterval 15
PermitRootLogin yes
PasswordAuthentication yes
PermitEmptyPasswords yes
AuthorizedKeysFile /root/.ssh/authorized_keys

Match User umer
  ForceCommand /usr/local/bin/forward_to_pod umer

Match User userB
  ForceCommand /usr/local/bin/forward_to_pod userB